<div class="c-dashboard">
  <div class="c-filters__container">
    <vue-component
      name="EmployeesFilter"
      v-props-update="homePageVm.updateFilter"
      v-props-filter="homePageVm.filter"
    />
  </div>

  <employees-list
    employees-list="homePageVm.employees"
    filter="homePageVm.filter"
  ></employees-list>

  <div class="c-dashboard__footer">
    <button
      class="c-button"
      ng-click="homePageVm.loadMoreEmployees()"
      ng-disabled="homePageVm.isFetchingEmployees"
      ng-if="homePageVm.canLoadMoreEmployees"
    >
      <progress-circular
        ng-if="homePageVm.isFetchingEmployees"
      ></progress-circular>
      Load More
    </button>
  </div>
</div>
